<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio'})%>
<body class="homeBody">
		<!-- Header -->
    <%- include('partials/header')%>
		<!-- Fin Header -->
		<!-- Blob Fondo -->
<!-- 		<div class="blob"></div> -->
			<!-- BTN FLOTANTE -->
		<div class="containerBotonFlotante">
			<input type="checkbox" id="btn-mas">
			<div class="redes">
				<a href="#" class="fa fa-fire"></a>
            	<a href="https://web.whatsapp.com/" target="_blank" class="fa fa-whatsapp"></a>
        	</div>
        	<div class="btn-mas">
            	<label for="btn-mas" class="fa fa-plus"></label>
            </div>
        </div>
		<!-- ............................. -->
		<%- include('partials/menuProducts') %>
		<!-- ............................. -->
			
			<!-- CARD PRODUCTS -->
			<%- include('partials/cardProducts') %>
		<!-- </div> -->

			<!-- Footer -->
		<%- include('partials/footer') %>
		<!-- Fin Footer -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
		<script src="/js/home.js"></script>
		<script src="/js/menuHome.js"></script>
<!-- 		<script src="/js/carrouselHome.js"></script>
		<script src="/js/sliderMarquesina.js"></script> -->
	</body>
</html>



	
