<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio'})%>
<body class="homeBody">
		<!-- Header -->
    <%- include('partials/header')%>
		<!-- Fin Header -->

		<!-- Carrousel -->
    <!-- eliminado hasta poner el nuevo carrousel -->
		<!-- Fin Carrousel -->


	<!-- productos - ultima visita -->
	<div class="container products-wrapper">
        <div class="row">
			<div class="col-12">
				<h2 class="products-title">Según tus ultimas visitas:</h2>
			</div>

			<% productsVisited.forEach(product => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="./products/detail/<%- product.id %>">
							<figure class="product-box_image">
								<img src="/images/products/<%- product.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$ <%- toThousand(product.price - (product.price * product.discount /100)) %></h2>
								<% if (product.discount > 0) { %>							 
									<span><%- product.discount %>% OFF</span>
								<% } %>
								<p><%- product.name %></p>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
		</div>
	</div>

    <!-- Ofertas -->
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12" id="offers">
				<h2 class="products-title">Ofertas</h2>
			</div>
			
			<% productsInSale.forEach(product => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="./products/detail/<%- product.id %>">
							<figure class="product-box_image">
								<img src="/images/products/<%- product.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$ <%- toThousand(product.price - (product.price * product.discount /100)) %></h2>
								<% if (product.discount > 0) { %>							 
									<span><%- product.discount %>% OFF</span>
								<% } %>
								<p><%- product.name %></p>
							</article>
						</a>
					</section>
				</div>
			<% }) %>
		</div>
	</div>
		<!-- Fin productos -->

		<!-- Footer -->
	<%- include('partials/footer') %>
		<!-- Fin Footer -->
</body>
</html>