<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'Inicio'})%>

<body class="homeBody">
		<!-- Header -->
    <%- include('partials/header')%>
		<!-- Fin Header -->

			<!-- BTN FLOTANTE -->
		<div class="containerBotonFlotante">
			<input type="checkbox" id="btn-mas">
			<div class="redes">
				<a href="https://github.com/LisandroP57/Cuidate-Ecommerce_proyect" class="fa fa-github"></a>
            	<a href="https://web.whatsapp.com/" target="_blank" class="fa fa-whatsapp"></a>
        	</div>
        	<div class="btn-mas">
            	<label for="btn-mas" class="fa fa-plus"></label>
            </div>
        </div>
		<!-- ............................. -->
		<%- include('partials/menuProducts') %>
		<!-- ............................. -->
			
			<!-- CARD PRODUCTS -->
			<%- include('partials/cardProducts') %>
			<!-- -->

			<!-- Footer -->
		<%- include('partials/footer') %>
		<!-- Fin Footer -->
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
		<script src="/js/home.js"></script>
		<script src="/js/menuHome.js"></script>
		<script src="/js/auth.js"></script>
	</body>
</html>