<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
    <title>Cuidate! Home</title>
<body class="productBody">
    <%- include('partials/header')%>

    <!-- All Products -->
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos acaca:</h2>
			</div>
			<!-- Show the "visited" products -->
			<% products.forEach(product => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/vistaProducto/<%= product.id %>">
							<figure class="product-box_image">
								<img src="/images/products/<%= product.image %>" alt="imagen de producto">
							</figure>
							<article class="product-box_data">
								<h2>$ <%- toThousand(product.price - (product.price * product.discount /100)) %></h2>
								<% if (product.discount > 0) { %>							 
									<span><%- product.discount %>% OFF</span>
								<% } %>
								<p><%= product.name%></p>
							</article>
						</a>
					</section>
				</div>
			<%});%>
			
		</div>
	</div>
    <!-- Fin All Products -->

	<!-- Footer -->
    <%- include('partials/footer')%>
	<!-- Fin footer -->
</body>
</html>