<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Resultados de la busqueda'}) %>
<body>
	<%- include('partials/header') %>

		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de la búsqueda: <%= keywords %></h2>
			</div>
				<% if (results.length != 0) { %>
					<% results.forEach((product) => { %>		 
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/products/detail/<%= product.id %>">
									<figure class="product-box_image">
										<img src="/images/products/<%= product.image %>" alt="imagen de producto">
									</figure>
									<article class="product-box_data">
										<h2><%= toThousand(product.price - (product.price * product.discount /100)) %></h2>
										<span><%= product.discount  %> %OFF</span>
										<p><%- product.name %></p>
										<i class="fas fa-truck"></i>
									</article>
								</a>
							</section>
						</div>
					<% }) %>
					<% }else{ %>	
						<div class="col-12">
							<h2 class="products-title" style="color:tomato;">No hay productos que coincidan con esa búsqueda</h2>
						</div>
					<% } %>
	</div>

	<%- include('partials/footer') %>
</body>	
</html>