<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title: 'Resultados de la busqueda'}) %>
<body class="BodyResults">
	<%- include('partials/header') %>
	<main>
		<div class="resultsPadre">
			<div class="results">
				<h2>Resultados de la búsqueda: <%= keywords %></h2>
			</div>
				<% if (results.length === 0) { %>
					<h2>No hay productos que coincidan con esa búsqueda</h2>
				<% }else{ %>
					<ul>
						<% results.forEach(product => { %>
							<li><%= product.name %> - <%= product.description %> - <%= product.price %></li>
						<% }) %>
					</ul>
				<% } %>
		</div>
	</main>

	<%- include('partials/footer') %>
</body>	
</html>