<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('../partials/head', {title: 'Editar producto'}) %>

<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	
	<main class="addProduct">
		<div class="createForm">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Estas modificando <i>: <%= productToEdit.name %></i></h2>
				</div>
			</div>
			<div class="col-12">
				<form action="/products/edit/<%= productToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="addForm">
						<div class="addInput">
							<label for="name" class="form-label">Nombre del producto:</label>
							<input type="text" id="name" name="name" placeholder="Ej: Gas pimienta" value="<%= productToEdit.name %>" class="form-input">
						</div>
						<div class="addInput">
							<label for="price" class="form-label">Precio del producto:</label>
							<input type="text" id="price" name="price" placeholder="Ej: $123" value="<%= productToEdit.price %>" class="form-input">
						</div>
						<div class="addInput">
							<label for="discount" class="form-label">Descuento:  (Opcional)</label>
							<input type="text" id="discount" name="discount" placeholder="Ej: 57%" value="<%= productToEdit.discount %>" class="form-input">
						</div>
						<div class="addInput">
							<label for="category" class="form-label">Categoría:</label>
							<select name="category" id="category" class="form-input">
								<option value="">Elegí</option>
								<option value="in-sale" <%= productToEdit.category === "in-sale" && "selected" %>>En oferta</option>
								<option value="visited" <%= productToEdit.category === "visited" && "selected" %> >Últimos agregados</option>
							</select>
						</div>
						<div class="description1">
							<label for="description" class="form-label">Descripción:</label>
							<textarea name="description" id="description" class="form-input"><%= productToEdit.description %></textarea>
						</div>
						<div class="edit-img">
							<label for="image" class="form-label">Imagen de su producto:</label>
							<input class="form-control" type="file" id="image" name="image">
						</div>

						<div class="sendButton">
							<button type="submit" class="buy-now-button" data-bs-toggle="modal" data-bs-target="#miModal">Modificar producto</button>
							<!-- Modal -->
							<div class="modal fade" id="miModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="modalTitle">Producto Modificado!</h4>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p> Se ha modificado su producto con exito! a continuacion puede volver al inicio o seguir editando su producto.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary" ><a href="/">Volver a inicio</a></button>
										</div>
									</div> 
								</div>
							</div>
							<!-- Fin Modal -->

						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	<!-- footer -->
	<%- include('../partials/footer') %>
</body>	
</html>