<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
	<title>Cuidate! Home</title>
<body class="homeBody">
    <%- include('../partials/header') %>

    <!-- DESTACADOS -->
    <div class="container-allProducts">
        <div class="row">
            <h2 class="title-products">Destacados</h2>
        </div>
        <% productsVisited.forEach(product => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/public/images/products/<%- product.image %>">
                        <figure class="product-box_image">
                            <img src="/public/images/products/<%- product.image %>" alt="imagen de producto">
                        </figure>
                        <article class="product-box_data">
                            <h2><%- toThousand(product.price) %></h2>
                            <p><%- product.name %></p>
                            <i class="fas fa-truck"></i>
                        </article>
                    </a>
                </section>
            </div>
        <% }) %>
    </div>
    <!-- OFERTAS IN SALE -->
    <div class="container-allProducts">
        <div class="row">
            <h2 class="title-products">Ofertas</h2>
        </div>
        <% productsInSale.forEach(product => { %>
            <div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
                    <a href="/public/images/products/<%- product.image %>">
                        <figure class="product-box_image">
                            <img src="/public/images/products/<%- product.image %>" alt="imagen de producto">
                        </figure>
                        <article class="product-box_data">
                            <h2><%- toThousand(product.price) %></h2>
                            <p><%- product.name %></p>
                            <i class="fas fa-truck"></i>
                        </article>
                    </a>
                </section>
            </div>
        <% }) %>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>
   