<!DOCTYPE html>
<html lang="es" class="htmlDetail">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalle'}) %>

	<body class="bodyDetail">
		<!-- Header -->
		<%- include('../partials/header') %>
			<!-- /Header -->
			<!-- product detail -->
			
				<div class="col-12">
					<div class="">
						<h2 class="titleDetail">Detalle del productos: <%= product.name %>
						</h2>		
				</div>
			</div>
			<div class = "card-wrapper">
				<div class = "card">
				  <!-- card left -->
				  <div class = "product-imgs">
					<div class = "img-display">
					  <div class = "img-showcase">
						<% product.images.forEach(image => { %>
								<img src="/images/products/<%= image.image %>" alt="product image"
						<% }) %>
						class="product-detail-img">						
						<img src = "" alt = "image">
						<img src = "" alt = "image">
						<img src = "" alt = "image">
					  </div>
					</div>
					<div class = "img-select">
					  <div class = "img-item">
						<a href = "#" data-id = "1">
						  <img src = "" alt = "image">
						</a>
					  </div>
					  <div class = "img-item">
						<a href = "#" data-id = "2">
						  <img src = "" alt = "image">
						</a>
					  </div>
					  <div class = "img-item">
						<a href = "#" data-id = "3">
						  <img src = "images/_3.jpg" alt = "image">
						</a>
					  </div>
					  <div class = "img-item">
						<a href = "#" data-id = "4">
						  <img src = "images/_4.jpg" alt = "image">
						</a>
					  </div>
					</div>
				  </div>
				  <!-- card right -->
				  <div class = "product-content">
					<h2 class="product-detail-title">
						<%= product.name %>
					</h2>
					<a href = "/products/allProducts" class = "product-link">Visita nuesta tienda cuidate</a>
					<div class = "product-rating">
					  <i class = "fas fa-star"></i>
					  <i class = "fas fa-star"></i>
					  <i class = "fas fa-star"></i>
					  <i class = "fas fa-star"></i>
					  <i class = "fas fa-star-half-alt"></i>
					  <span>4.7(21)</span>
					</div>
		  
					<div class = "product-price">
					  
						<!--  -->
						<% if (product.discount > 0) { %>
						<div class="home-product-discount">
						Nuevo precio: <%- product.discount %>% OFF</div>
															<% } %>
						Precio: <%- product.price %>

					</div>


		  
					<div class = "product-detail">
					  <h2>Acerca de este artículo:
					</h2>
					  <p class="product-detail-description">
						<%= product.description %>
					</p>
					   <ul>
						<li>Color: <span>Negro-Violetta-Rosa</span></li>
						<li>Disponibilidad: <span>En stock</span></li>
						<li>Category: <span> Defensa personal</span></li>
					  </ul>
					</div>
		  
					<div class = "purchase-info">
						<label for="">Ingresa Talle o Cantidad:</label>
					  <input type = "number" min = "0" value = "1">
					 
					  <hr>
									<a href="#" class="buy-now-button-detail">COMPRAR AHORA</a>
									<hr>
					</div>
		  
					<ul class="actions-list">
										<li>
											<i class="fas fa-credit-card"></i>
												<p>Pagá en 12 cuotas sin interes</p>
										</li>
										<li>
											<i class="fas fa-store"></i>
												<p>Retiro gratis en locales del vendedor</p>
										</li>
									</ul>

					<div class = "social-links">
					  <p>Contactanos: </p>
					  <a href = "#">
						<i class = "fab fa-facebook-f"></i>
					  </a>
					  <a href = "#">
						<i class = "fab fa-twitter"></i>
					  </a>
					  <a href = "#">
						<i class = "fab fa-instagram"></i>
					  </a>
					  <a href = "#">
						<i class = "fab fa-whatsapp"></i>
					  </a>
					  
					</div>
				  </div>
				</div>
			  </div>

			<!-- /product detail -->

			<!-- card products oferts -->
			<section class="product"> 
				<h2 class="product-category">PRODUCTOS  RELACIONADOS</h2>
				<button class="pre-btn"><img src="images/arrow.png" alt=""></button>
				<button class="nxt-btn"><img src="images/arrow.png" alt=""></button>
				<div class="product-container">
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="/images/products/gaspimienta.jpeg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">MANOPLA GATITO</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card2.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">MANOPLA GATITO</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card3.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">MANOPLA GATITO</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card4.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">MANOPLA GATITO</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card5.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">brand</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card6.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">brand</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card7.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">MANOPLA GATITO</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card8.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">brand</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card9.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">brand</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
					<div class="product-card">
						<div class="product-image">
							<span class="discount-tag">50% off</span>
							<img src="images/card10.jpg" class="product-thumb" alt="">
							<button class="card-btn">add to wishlist</button>
						</div>
						<div class="product-info">
							<h2 class="product-brand">brand</h2>
							<p class="product-short-description">a short line about the cloth..</p>
							<span class="price">$20</span><span class="actual-price">$40</span>
						</div>
					</div>
				</div>
			</section>
			<!-- footer -->
			<%- include('../partials/footer') %>
			<!-- /footer -->
				
			<!-- SCRIPT EFECTS SLIDER -->

				<script src="/js/detail.js"></script>
				<script src="/js/product-slider.js"></script>
				
	</body>

</html>