<!DOCTYPE html>
<html lang="es" class="htmlDetail">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Detalle'}) %>

	<body class="bodyDetail">
		<!-- Header -->
		<%- include('../partials/header') %>
		<!-- /Header -->
		<!-- <div class="blob"></div> -->
			<!-- product detail -->

			
				<div class="col-12">
					<div>
						<h2 class="titleDetail">Detalle de producto: <%= product.name %></h2>		
					</div>
				</div>
				
			<div class = "card-wrapper">
				<div class = "card">
				  <!-- card left -->
				  <div class = "product-imgs">
					<div class = "img-display">
					  <div class = "img-showcase">
						<% product.images.forEach(image => { %>
								<img src="/images/products/<%= image.image %>" alt="product image"
						<% }) %>
						class="product-detail-img">
					  </div>
					</div>
				  </div>
				  <!-- card right -->
				  <div class = "product-content">
					<h2 class="product-detail-title">
						<%= product.name %>
					</h2>
					<div class = "product-rating">
					  <i class = "fas fa-star"></i>
					  <i class = "fas fa-star"></i>
					  <i class = "fas fa-star"></i>
					  <i class = "fas fa-star"></i>
					  <i class = "fas fa-star-half-alt"></i>
					  <span>4.7(21)</span>
					</div>
		  
					<div class = "product-price">
					  
						<!--  -->
						<% if (product.discount > 0) { %>
						<div class="home-product-discount">
						Descuento: <%- product.discount %>% OFF</div>
															<% } %>
						Precio: $<%- product.price %>

					</div>


		  
					<div class = "product-detail">
					  <h2>Acerca de este artículo:
					</h2>
					  <p class="product-detail-description">
						<%= product.description %>
					</p>
					   <ul>
						<li>Disponibilidad: <span>En stock</span></li>
						<li>Categoria: <span><%= product.subcategory.category.name %></span></li>
					  </ul>
					</div>
		  
					<div class = "purchase-info">
						<label for="">Ingrese Cantidad:</label>
					  <input type = "number" min = "0" value = "1">
					 
					  <hr>
									<a href="#" class="buy-now-button-detail">COMPRAR AHORA</a>
									
									<% if (session.user !== undefined) { %>
										<form action="/products/shoppingcart/<%- product.id %>" method="POST">
											<div class="pre-cart">
											  <button class="btn btn-ad-primary" type="submit">Agregar al carrito</button>
											</div>
										</form>
									<% } %>
									<hr>
					</div>
		  
					<ul class="actions-list">
										<li>
											<i class="fas fa-credit-card"></i>
												<p>Pagá en 12 cuotas sin interes</p>
										</li>
										<li>
											<i class="fas fa-store"></i>
												<p>Retiro gratis en locales del vendedor</p>
										</li>
									</ul>

					<div class = "social-links">
					  <p>Contactanos: </p>
					  <a href = "#">
						<i class = "fab fa-facebook-f"></i>
					  </a>
					  <a href = "#">
						<i class = "fab fa-twitter"></i>
					  </a>
					  <a href = "#">
						<i class = "fab fa-instagram"></i>
					  </a>
					  <a href = "#">
						<i class = "fab fa-whatsapp"></i>
					  </a>
					  
					</div>
				  </div>
				</div>
			  </div>


			<!-- card products oferts -->
			
			
			<!-- footer -->
			<%- include('../partials/footer') %>
				<!-- /footer -->
				<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
				
			<!-- SCRIPT EFECTS SLIDER -->

				<script src="/js/detail.js"></script>
				<script src="/js/product-slider.js"></script>
				
	</body>

</html>