<section class="special-offers">
    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity"
    data-flickity-options='{ "wrapAround": true }' >
        
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12" id="offers">
				<h2 class="products-title">Ofertas</h2>
			</div>
			
			<% sliderProducts.forEach(product => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/detail/<%- product.id %>">
							<% if (product.discount > 0) { %>
								<div class="productDiscount"><%- product.discount %>% OFF</div>
							<% } %>
							<figure class="product-box_image">
								<img src="/images/products/<%- product.images[0] %>" alt="img">
							</figure>
							<article class="product-box_data">
								<% if (product.name.length > 30) { %>
									<%- `${product.name.slice(0,30)}...` %>
								<% } else { %>
									<%= product.name %>
								<% } %>
							</article>
							<h4 class="productPrice">$<%- product.price %></h4>
						</a>
					</section>
				</div>
			<% }) %>
		</div>
	</div>

    </div>
</section>