<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {title: 'Acceder'}) %>
<body>
    <%- include("../partials/header") %>
    <video autoplay muted loop id="myVideo">
        <source src="/images/backgrounds/mar.mp4" type="video/mp4">
    </video>

    <main class="main-log">
        <div class="form-complete">
            <div class="form-container">
                <a href="/"><h2>Cuidate!</h2></a>
                <hr>
                <form action="/users/login" method="POST" id="form">
                    <div class="form">
                        <div class="input-container">
                            <span class="top-message">E-mail</span>
                            <input class="input-style" type="email" name="email" placeholder="Ingrese su e-mail" id="email">
                        </div>
                        <small class="text-danger" id="emailErrors">
                            <%= locals.errors && errors.pass ? errors.pass.msg : '' %>
                        </small>
                        <div class="input-container">
                            <span class="top-message">Contraseña</span>
                            <div class="password-container">
                                <input class="input-style" type="password" name="pass" id="pass1" placeholder="Ingrese su contraseña">
                                <img src="/images/icons/show-password.png" onclick="showPassword()" id="showPasswordImg" alt="">
                            </div>
                            <small class="text-danger" id="passErrors">
                                <%= locals.errors && errors.pass ? errors.pass.msg : '' %>
                            </small>
                        </div>

                        <div class="checkbox-slider">
                            <input type="checkbox" name="remember" id="my-slider"> 
                            <label for="my-slider" id="checkbox">Recordar sesión</label>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="btn-submit">Acceder !</button>
                        </div>
                        <div id="gSignInWrapper" >
                            <a href="/users/auth/google" class="googleSigninButton" >
                              <div id="customBtn" class="p-0 border-1 bg-primary shadow-none">
                                  <span class=" rounded-1 icon"></span>
                                <span class="text-bg-primary me-auto ms-2">Ingresá con Google</span>
                              </div>
                            </a>
                        </div>
                        <div class="lost-pass">
                            <a class="link" href="/users/forgetPassword">¿Has olvidado tu contraseña?</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-two">
                <span><p>¿No tienes una cuenta?<a class="link" href="register"> Regístrate</a></p></span>
            </div>
        </div>
        <div class="img-login">
            <img src="/images/img-login.png" alt="">
        </div>
    </main>
    <script src="/js/showPassword.js"></script>
    <%- include("../partials/footer") %>
    <script src="/js/validations/loginValidation.js"></script>
</body>
</html>