<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head', {title: 'Acceder'}) %>
<body>
    <%- include("../partials/header") %>
    <video autoplay muted loop id="myVideo">
        <source src="/images/backgrounds/mar.mp4" type="video/mp4">
    </video>

    <main class="main-log">
        <div class="form-complete">
            <div class="form-container">
                <a href="/"><h2>Cuidate!</h2></a>
                <hr>
                <form action="/users/login" method="POST" id="form">
                    <div class="form">
                        <div class="input-container">
                            <span class="top-message" id="emailErrors">E-mail</span>
                            <input class="input-style" type="email" name="email" placeholder="Ingrese su e-mail" id="email">
                            
                            <% if (locals.errors && errors.email) { %>
                                <small class="text-danger"><%= errors.email.msg %> </small>
                            <% } %>
                                <span id="emailErrorss" style=" color: red;"></span>
                        </div>
                        <div class="input-container">
                            <span class="top-message">Contraseña</span>
                            <div class="password-container">
                                <input class="input-style" type="password" name="pass" id="pass1" placeholder="Ingrese su contraseña">
                                <img src="/images/icons/show-password.png" onclick="showPassword()" id="showPasswordImg" alt="">
                            </div>
                            <% if (locals.errors && errors.pass) { %>
                                <small class="text-danger"><%= errors.pass.msg %> </small>
                            <% } %>
                            <span id="passErrors" style=" color: red;"></span>
                        </div>

                        <div class="checkbox-slider">
                            <input type="checkbox" name="remember" id="my-slider"> 
                            <label for="my-slider" id="checkbox">Recordar sesión</label>
                        </div>
                        <% if (locals.errorMsg ) { %>
                            <small class="text-danger"><%= errorMsg %> </small>
                        <% } %>
                        <div class="button-container">
                            <button type="submit" class="btn-submit">Acceder !</button>
                        </div>
                        <div class="lost-pass">
                            <a class="link" href="/users/forgetPassword">¿Has olvidado tu contraseña?</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-two">
                <span><p>¿No tienes una cuenta?<a class="link" href="register"> Regístrate</a></p></span>
            </div>
        </div>
        <div class="img-login">
            <img src="/images/img-login.png" alt="">
        </div>
    </main>
    <script src="/js/showPassword.js"></script>
    <%- include("../partials/footer") %>
    <script src="/js/validations/loginValidation.js"></script>
</body>
</html>