<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'Registro'}) %>
    
<body class="register-body">
    <%- include('../partials/header') %>

    <video autoplay muted loop id="myVideo">
        <source src="/images/backgrounds/mountain.mp4" type="video/mp4">
    </video>

    <main class="main-reg">
        <div class="register-complete">
            <form class="register-form" action="/users/register" method="POST" enctype="multipart/form-data" id="form">
                <a href="/"><h1>Cuidate!</h1></a>
                <hr>
                        <label>Nombre:</label>
                        <input class="input-reg" type="text" name="name" placeholder="Ingrese su nombre" id="name">
                        <small class="text-danger" id="nameErrors">
                            <%= locals.errors && errors.name ? errors.name.msg : '' %>
                        </small>

                        <label>Apellido:</label>
                        <input class="input-reg" type="text" name="last_name" placeholder="Ingrese su apellido" id="last_name">
                        <small class="text-danger" id="lastnameErrors">
                            <%= locals.errors && errors.last_name ? errors.last_name.msg : '' %>
                        </small>

                        <label>E-mail:</label>
                        <input class="input-reg" type="email" name="email" placeholder="Ingrese su email" id="email">
                        <small class="text-danger" id="emailErrors">
                            <%= locals.errors && errors.email ? errors.email.msg : '' %>
                        </small>

                        <label>Contraseña:</label>
                        <input class="input-reg" type="password" name="pass1" placeholder="Ingrese su contraseña" id="pass1">
                        <small class="text-danger" id="pass1Errors">
                            <%= locals.errors && errors.pass ? errors.pass.msg : '' %>
                        </small>
                            
                        <label>Vuelve a ingresar la contraseña:</label>
                        <input class="input-reg" type="password" name="pass2" placeholder="Re-ingrese su contraseña" id="pass2">
                        <small class="text-danger" id="pass2Errors">
                            <%= locals.errors && errors.pass ? errors.pass.msg : '' %>
                        </small>

                            <label>Agregar avatar</label>
                            <input class="form-control" type="file" id="avatar" name="avatar">
                            <small class="text-danger" id="avatarErrors">
                                <%= locals.errors && errors.avatar ? errors.avatar.msg : '' %>
                            </small>
                        <div class="terms-conditions">
                            <label>  Acepto los <a href="">términos y condiciones</a> </label>
                            <input type="checkbox" name="terms" id="terms">
                            <small class="text-danger" id="termsErrors">
                                <%= locals.errors && errors.terms ? errors.terms.msg : '' %>
                            </small>
                        </div>
                        <div class="btn-reg">
                            <button type="submit" class="btn-submit-register">Registrarme</button>
                        </div> 
                        <span class="span-account"><a href="login">Ya tengo una cuenta</a></span>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/validations/registerValidation.js"></script>
    
</body>
</html>