<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Editar Perfil'}) %>
<body>
    <%- include('../partials/header') %>
    <main class="container-users-edit">
       <div class="createForm">
            <h3 class="title">Edita tu perfil</h3>
            <form action="/users/profile/edit?_method=PUT" method="POST" id="form" enctype="multipart/form-data" class="form-ad" >
                <div class="addFormEdit">
                    <div class="addInput">
                        <input type="text" name="name" placeholder="Nombre" value="<%= locals.old ? old.name : user.name %>" id="name">
                        <small class="text-danger" id="nameErrors">
                            <%= locals.errors && errors.name ? errors.name.msg : '' %>
                        </small>
                    </div>
                    <div class="addInput">
                        <input type="text" name="last_name" placeholder="Apellido" value="<%= locals.old ? old.last_name : user.last_name %>" id="last_name">
                        <small class="text-danger" id="lastnameErrors">
                            <%= locals.errors && errors.last_name ? errors.last_name.msg : '' %>
                        </small>
                    </div>
                    <div class="addInput">
                        <input type="email" name="email" placeholder="Ingresá tu email" readonly value="<%= locals.old ? old.email : user.email %>"id="email">
                        <small class="text-danger" id="emailErrors">
                            <%= locals.errors && errors.email ? errors.email.msg : '' %>
                        </small>
                    </div>
                    <div class="addInput">
                        <input type="text" name="tel" placeholder="Ingresá tu teléfono" value="<%= user.tel ? user.tel : "" %>">
                    </div>
                    <div class="addInput">
                        <input type="text" name="address" placeholder="Domicilio" id="address" value="<%= user.address ? user.address : "" %>">
                    </div>
                    <div class="addInput">
                        <input type="text" name="postal_code" placeholder="Código postal" id="postal_code" value="<%= user.postal_code ? user.postal_code : "" %>">
                        <small class="text-danger" id="postal_code">
                            <%= locals.errors && errors.postal_code ? errors.postal_code.msg : '' %>
                        </small>
                    </div>
                    <div class="addInput">
                        <select name="province" id="selectProvincias" class="select-city">
                            <option value="" selected hidden>Provincia</option>
                            <% provinces.forEach(province => { %>
                                <option value="<%- province.id %>"><%- province.nombre %></option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="addInput">
                        <select name="city" id="selectLocalidades" class="select-city">
                            <option value="">Localidad</option>
                        </select>
                    </div>
                    <div class="multer">
                        <p>Editar foto de perfil</p>
                        <input type="file" name="avatar" id="avatar" class="form-control" value="<%= user.avatar %>">
                        <small class="text-danger" id="avatarErrors">
                            <%= locals.errors && errors.avatar ? errors.avatar.msg : '' %>
                        </small>
                    </div>
                    <span class="error-message">
                        <%= locals.errors && locals.errors.img ? locals.errors.img.msg : null %>
                    </span>
                    <div class="btn-edit-profile">
                        <button type="submit" class="btn-guardar">GUARDAR</button>
                    </div>
                    <div class="delete-account">
                        <form action="/profile/delete" method="POST">
                            <input type="hidden" name="userId" value="<%= user.id %>">
                            <button class="btn-delete-account">
                                <span class="text">Eliminar cuenta</span>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                    </svg>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/editProfile.js"></script>
    <script src="/js/validations/updateUserValidator.js"></script>
</body>
</html>