<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Mi Perfil'}) %>
<body class="body-user-profile">
    <%- include('../partials/header') %>

    <main class="user-profile">
        <div class="profile-container">
            <div class="profile-card">
                <div class="avatar-container">
                    <h3>Mi usuario</h3>
                    <img src="/images/avatar/<%= user.avatar %>" alt="">
                </div>
                <div class="container-icon">
                    <div class="circle-logo">
                        <img src="/images/logo/logo.png" alt="">
                    </div>
                </div>
                <div class="info-container">
                    <div class="form-info-profile">
                        <div class="user-profile-container">
                            <div class="user-profile-box">
                                <h3 class="user-profile-title">Datos de la cuenta</h3>
                                <hr>
                                <p class="user-profile-item">Nombre: <%= user.name %></p>
                                <p class="user-profile-item">Email: <%= user.email %></p>
                            </div>
                            <div class="user-profile-box">
                                <h3 class="user-profile-title">Datos fiscales</h3>
                                <hr>
                                <p class="userProfile_item">Dirección: <%= user.address ? user.address : "______" %></p>
                                <p class="userProfile_item">Código postal: <%= user.postal_code ? user.postal_code : "______" %></p>
                                <p class="userProfile_item">Provincia: <%= user.province ? user.province : "______" %></p>
                                <p class="userProfile_item">Localidad: <%= user.city ? user.city : "______" %></p>
                                <!-- Una vez que requiramos la informacion de domicilio, usar los p con ejs -->
                            </div>
                            <a href="/users/profile/edit" class="btn-edit">
                                Editar mis datos
                                <img src="/images/icons/settings.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </main>
    <%- include('../partials/footer') %>
</body>
</html>