<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Editar Perfil'}) %>
<body>
    <%- include('../partials/header') %>

    <main class="container-users-edit">
       <div class="createForm">
            <h3 class="title">Edita tu perfil</h3>
            <form action="/users/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data" class="form-ad" >
                <div class="addFormEdit">
                    <div class="addInput">
                        <input type="text" name="name" placeholder="Nombre" value="<%= locals.old ? old.name : user.name %>" id="nombreInput">
                        <% if (locals.errors && errors.name) { %>
                            <small class="text-danger"><%= errors.name.msg %> </small>
                        <% } %>
                    </div>
                    <div class="addInput">
                        <input type="text" name="last_name" placeholder="Apellido" value="<%= locals.old ? old.last_name : user.last_name %>" id="apellidoInput">
                        <% if (locals.errors && errors.last_name) { %>
                            <small class="text-danger"><%= errors.last_name.msg %> </small>
                        <% } %>
                    </div>
                    <div class="addInput">
                        <input type="email" name="email" placeholder="Ingresá tu email" readonly value="<%= locals.old ? old.email : user.email %>"id="emailInput">
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-danger"><%= errors.email.msg %> </small>
                        <% } %>
                    </div>
                    <div class="addInput">
                        <input type="text" name="address" placeholder="Domicilio" value="<%= user.address ? user.address : "" %>"id="addressInput">
                    </div>
                    <div class="addInput">
                        <input type="text" name="postal_code" placeholder="Código postal" value="<%= user.postal_code ? user.postal_code : "" %>"id="postalCodeInput">
                        <% if (locals.errors && errors.postal_code) { %>
                            <small class="text-danger"><%= errors.postal_code.msg %> </small>
                        <% } %>
                    </div>
                    <div class="addInput">
                        <select name="province" id="">
                            <option value="">Provincia</option>
                        </select>
                    </div>
                    <div class="addInput">
                        <select name="city" id="">
                            <option value="">Localidad</option>
                        </select>
                    </div>
                    <div class="multer">
                        <p>Editar foto de perfil</p>
                        <input type="file" name="avatar" class="form-control">
                    </div>
                    <span class="error-message">
                        <%= locals.errors && locals.errors.img ? locals.errors.img.msg : null %>
                    </span>
                    <div class="btn-edit-profile">
                        <button type="submit" class="btn-guardar">GUARDAR</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/validations/updateUserValidator.js"></script>
</body>
</html>