<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Mi Perfil'}) %>
<body class="body-user-profile">
    <%- include('../partials/header') %>
    <video autoplay muted loop id="myVideo">
        <source src="/images/backgrounds/rain.mp4" type="video/mp4">
    </video>
    <main class="main-user-profile">
        <div class="profile-container">
            <div class="profile-card">
                <div class="avatar-container">
                    <h3><%= user.name %></h3>
                    <img src="/images/avatar/<%= user.avatar %>" alt="">
                </div>
                <div class="container-icon">
                    <div class="circle-logo">
                        <img src="/images/logo/logo.png" alt="">
                    </div>
                </div>
                <div class="info-container">
                    <div class="form-info-profile">
                        <div class="user-profile-container">
                            <div class="user-profile-box">
                                <h3 class="user-profile-title">Datos de la cuenta</h3>
                                <hr>
                                <p class="user-profile-item">Nombre: <%= user.name %></p>
                                <p class="user-profile-item">Email: <%= user.email %></p>
                                <p class="userProfile_item">Teléfono: <%= user.tel ? user.tel : "______" %></p>
                            </div>
                            <div class="user-profile-box">
                                <h3 class="user-profile-title">Datos de contacto</h3>
                                <hr>
                                <p class="userProfile_item">Dirección: <%= user.address ? user.address : "______" %></p>
                                <p class="userProfile_item">Código postal: <%= user.postal_code ? user.postal_code : "______" %></p>
                                <p class="userProfile_item">Provincia: <%= user.province ? user.province : "______" %></p>
                                <p class="userProfile_item">Localidad: <%= user.city ? user.city : "______" %></p>
                            </div>
                            <a href="/users/profile/edit" class="btn-edit">
                                Editar mis datos
                                <img src="/images/icons/settings.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="delete-account">
                        <button class="btn-delete-account">
                            <span class="text">Eliminar cuenta</span>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                    <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
        
    </main>
    <%- include('../partials/footer') %>
</body>
</html>