<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Editar Perfil'}) %>
<body>
    <%- include('../partials/header') %>

    <main class="container-users-edit">
       <div class="edit-user-form">
            <h3 class="userTitle">Edita tu perfil</h3>
            <form action="/users/profile/edit?_method=PUT" method="POST" enctype="multipart/form-data" class="form-ad" >
                <div class="form-ad-input">
                    <input type="text" name="name" placeholder="Nombre" value="">
                    <% if (locals.errors && errors.name) { %>
                        <small class="text-danger"><%= errors.name.msg %> </small>
                    <% } %>
                </div>
                <div class="form-ad-input">
                    <input type="text" name="last_name" placeholder="Apellido" value="">
                    <% if (locals.errors && errors.last_name) { %>
                        <small class="text-danger"><%= errors.last_name.msg %> </small>
                    <% } %>
                </div>
                <div class="form-ad-input">
                    <input type="email" name="email" placeholder="Ingresá tu email" readonly value="">
                    <% if (locals.errors && errors.email) { %>
                        <small class="text-danger"><%= errors.email.msg %> </small>
                    <% } %>
                </div>
                <div class="form-ad-input">
                    <input type="text" name="tel" placeholder="Ingresá tu teléfono" value="Telefono">
                </div>
                <div class="form-ad-input">
                    <input type="text" name="address" placeholder="Domicilio" value="Domicilio">
                </div>
                <div class="form-ad-input">
                    <input type="text" name="postal_code" placeholder="Código postal" value="Codigo postal">
                </div>
                <div class="form-ad-input">
                    <select name="province" id="">
                        <option value="">Provincia</option>
                    </select>
                </div>
                <div class="form-ad-input">
                    <select name="city" id="">
                        <option value="">Localidad</option>
                    </select>
                </div>
                <div class="input-file">
                    <p>Cambiar foto de perfil</p>
                    <input type="file" name="avatar">
                </div>
                <div class="btn-edit-profile">
                    <button type="submit" class="btn-guardar">
                        GUARDAR
                    </button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>