<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Todos los Usuarios'})%>
<body class="productBody">
    <%- include('../partials/header')%>

        <!-- USERS DE ADMIN PARCIAL HASTA DESARROLLAR OTRO -->
        <div class="container-fluid">
            <div class="row">
              <%- include('partials/adminSidebar') %>
              <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                  <h2>Listado de usuarios</h2>

                  <!-- SEARCH USERS -->
                  <div class="search">
                    <input placeholder="Administrar usuarios..." required="" class="search-input" name="text" type="text">
                    <div class="icon">
                        <svg viewBox="0 0 512 512" class="ionicon" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-width="32" stroke-miterlimit="10" stroke="currentColor" fill="none" d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z"></path>
                            <path d="M338.29 338.29L448 448" stroke-width="32" stroke-miterlimit="10" stroke-linecap="round" stroke="currentColor" fill="none"></path>
                        </svg>
                    </div>
                </div>
                <!-- FIN SEARCH USERS -->

                  <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                      <a href="/admin/users/create" class="btn btn-sm btn-outline-secondary">Agregar</a>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Segundo nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Avatar</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                          <tr>
                              <td><%- user.id%></td>
                              <td><%- user.name%></td>
                              <td><%- user.last_name%></td>
                              <td><%- user.email%></td>
                              <td><%- user.adress%></td>
                              <td><%- user.avatar%></td>
                              <td>
                                <!-- <form action="/admin/users/delete/<%- user.id %>?_method=DELETE" method="POST"></form> -->
                                <button type="submit" class="btn btn-danger" >
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                      </svg>
                                </button>
                              </td>
                            </tr>
                        <% }) %>
                    </tbody>
                  </table>
                </div>
              </main>
            </div>
          </div>
        <!-- FIN -->



	<!-- Footer -->
    <%- include('../partials/footer')%>
	<!-- Fin footer -->
</body>
</html>