<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('../partials/head', {title: 'Agregar producto'}) %>
<body class="create-edit-body">
	<!-- Header -->
	<%- include('../partials/header') %>
	<main class="addProduct">
		<div class="createForm">
			<p class="title">Crear nuevo producto</p>
				<form action="/admin/products/create" method="POST" enctype="multipart/form-data">
					<div class="addForm">
						<div class="addInput">
							<label for="inputName" class="form-label">Nombre:</label>
							<input type="text" id="name" name="name" placeholder="Ej: Gas pimienta" class="form-input" value="<%= locals.old && old.name %>">
							<% if(locals.errors && errors.name) {%>
								<small class="text-danger"><%= errors.name.msg %></small>
							<% } %>
						</div>
						<div class="addInput">
							<label for="inputPrice" class="form-label">Precio:</label>
							<input type="number" id="inputPrice" name="price" placeholder="Ej: $123" class="form-input" value="<%= locals.old && old.price %>">
							<% if(locals.errors && errors.price) {%>
								<small class="text-danger"><%= errors.price.msg %></small>
							<% } %>
						</div>
						<div class="addInput">
							<label for="inputDiscount" class="form-label">Descuento:</label>
							<input type="number" id="inputDiscount" name="discount" placeholder="Ej: 57%" class="form-input" value="<%= locals.old && old.discount %>">
							<% if(locals.errors && errors.discount) {%>
								<small class="text-danger"><%= errors.discount.msg %></small>
							<% } %>
						</div>
						<div class="addInput">
							<select class="form-select" id="specificSizeSelect" name="category">
								<option selected hidden value="">Categoria</option>
								<% categories.forEach(category => { %>
									<option value="<%- category.id %>" <%= locals.old && old.category == category.id ? "selected" : null %> ><%- category.name %></option>
								<% }) %>
							</select>
							<% if(locals.errors && errors.category) {%>
								<small class="text-danger"><%= errors.category.msg %></small>
							<% } %>
						</div>
						<div class="addInput">
							<select class="form-select" id="specificSizeSelect" name="subcategory">
								<option selected hidden value="">Subcategoria</option>
								<% subcategories.forEach(subcategory => { %>
								<option value="<%- subcategory.id %>" <%= 
									locals.old && 
									old.subcategory == 
									subcategory.id ? 
									"selected" : null %>>
									<%- subcategory.name %>
								</option>
								<% }) %>
							</select>
							<% if(locals.errors && errors.subcategory) {%>
								<small class="text-danger"><%= errors.subcategory.msg %></small>
							<% } %>
						</div>
						<div class="addInput">
							<label for="description" class="form-label">Descripción:</label>
							<input type="text" class="description" name="description" placeholder="Esta es la descripción de tu futuro producto!">
						</div>
						<div class="multer">
							<label for="inputImage" class="form-label">Imagen de producto:</label>
							<input type="file" id="inputImage" name="images" class="form-control">
							<% if(locals.errors && errors.inputImage) {%>
								<small class="text-danger"><%= errors.inputImage.msg %></small>
							<% } %>
						</div>
						<div class="sendButton">
							<button type="submit" class="editbtn">Agregar producto</button>
						</div>
					</div>
				</form>
			</div>
	</main>
	<!-- footer -->
	<%- include('../partials/footer') %>
</body>	
</html>