<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('../partials/head', {title: 'Editar producto'}) %>

<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	
	<main class="addProduct">
		<div class="createForm">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Estas modificando: <i> <%= product.name %></i></h2>
				</div>
			</div>
			<div class="col-12">
				<form action="/admin/products/edit/<%= product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="addFormEdit">
						<div class="addInput">
							<label for="inputName" class="form-label">Nombre del producto:</label>
							<input type="text" id="inputName" name="name" placeholder="Ej: Gas pimienta" value="<%= locals.old ? old.name : product.name %>" class="form-input">
							<% if (locals.errors && errors.name) { %>
								<small class="text-danger"><%= errors.name.msg %> </small>
							<% } %>
						</div>
						<div class="addInput">
							<label for="inputPrice" class="form-label">Precio del producto:</label>
							<input type="text" id="inputPrice" name="price" placeholder="Ej: $123" value="<%= locals.old ? old.price : product.price %>" class="form-input">
							<% if (locals.errors && errors.price) { %>
								<small class="text-danger"><%= errors.price.msg %> </small>
							<% } %>
						</div>
						<div class="addInput">
							<label for="inputDiscount" class="form-label">Descuento:  (Opcional)</label>
							<input type="number" id="inputDiscount" name="discount" placeholder="Ej: 57%" value="<%= locals.old ? old.discount: product.discount %>" class="form-input">
							<% if (locals.errors && errors.discount) { %>
								<small class="text-danger"><%= errors.discount.msg %> </small>
							<% } %>
						</div>
						<div class="addInput">
							<label for="category" class="form-label">Categoría:</label>
							<select name="category" id="category" class="form-input">
								<option value="">Elegí</option>
								<option value="in-sale" <%= product.category === "in-sale" && "selected" %>>En oferta</option>
								<option value="visited" <%= product.category === "visited" && "selected" %> >Últimos agregados</option>
							</select>
						</div>
						<div class="description1">
							<label for="description" class="form-label">Descripción:</label>
							<textarea name="description" id="description" class="form-input"><%= product.description %></textarea>
						</div>
						<div class="edit-img">
							<label for="inputImage" class="form-label">Imagen del producto:</label>
							<input class="form-control" type="file" id="inputImage" name="image">
						</div>

						<div class="sendButton">
							<button type="submit" class="buy-now-button" data-bs-toggle="modal" data-bs-target="#miModal">Modificar producto</button>

							<!-- Modal a corregir-->
							<div class="modal fade" id="miModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="modalTitle">Producto Modificado!</h4>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p> Se ha modificado su producto con exito! a continuacion puede volver al inicio o seguir editando su producto.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary" ><a href="/">Volver a inicio</a></button>
										</div>
									</div> 
								</div>
							</div>
							<!-- Fin Modal -->

						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	<!-- footer -->
	<%- include('../partials/footer') %>
</body>	
</html>