<!DOCTYPE html>
<html lang="es">
<!-- Head -->
<%- include('../partials/head', {title: 'Editar producto'}) %>

<body class="create-edit-body">
	<!-- Header -->
	<%- include('../partials/header') %>
	
	<main class="addProduct">
		<div class="createForm">
			<p class="title">Estas modificando:<br><i><%= product.name %></p>
				<form action="/admin/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
					<div class="addFormEdit">
						<div class="addInput">
							<label for="inputName" class="form-label">Nombre del producto:</label>
							<input type="text" id="name" name="name" placeholder="Ej: Gas pimienta" value="<%= locals.old ? old.name : product.name %>" class="form-input">
							<% if (locals.errors && errors.name) { %>
								<small class="text-danger"><%= errors.name.msg %> </small>
							<% } %>
							<span id="nameErrors"></span>
						</div>
						<div class="addInput">
							<label for="inputPrice" class="form-label">Precio del producto:</label>
							<input type="text" id="inputPrice" name="price" placeholder="Ej: $123" value="<%= locals.old ? old.price : product.price %>" class="form-input">
							<% if (locals.errors && errors.price) { %>
								<small class="text-danger"><%= errors.price.msg %> </small>
							<% } %>
							<span id="priceErrors"></span>
						</div>
						<div class="addInput">
							<label for="inputDiscount" class="form-label">Descuento:  (Opcional)</label>
							<input type="number" id="inputDiscount" name="discount" placeholder="Ej: 57%" value="<%= locals.old ? old.discount: product.discount %>" class="form-input">
							<% if (locals.errors && errors.discount) { %>
								<small class="text-danger"><%= errors.discount.msg %> </small>
							<% } %>
							<span id="discountErrors"></span>
						</div>
						<div class="addInput">
							<select class="form-select" id="specificSizeSelect" name="category">
								<option selected hidden>Categoria :</option>
								<% categories.forEach(category => { %>
									<option 
									value="<%- category.id %>" 
									<%- locals.old && old.category == category.id ?
									"selected" : category.id == product.category_id ?
									`selected` : ""  %>>
									<%- category.name %>
								</option>
								<% }) %>
							</select>
							<% if (locals.errors && errors.category) { %>
								<small class="text-danger"><%= errors.category.msg %> </small>
							<% } %>
						</div>
						<div class="addInput">
							<select class="form-select" id="specificSizeSelect" name="subcategory">
								<option selected hidden>Subcategoria :</option>
								<% subcategories.forEach(subcategory => { %>
									<option value="<%- subcategory.id %>" 
									<%- locals.old && old.subcategory == subcategory.id ?
									"selected" : subcategory.id == product.subcategory ?
									`selected` : ""  %>>
									<%- subcategory.name %>
								</option>
								<% }) %>
							</select>
							<% if (locals.errors && errors.subcategory) { %>
								<small class="text-danger"><%= errors.subcategory.msg %> </small>
							<% } %>
						</div>
						<div class="addInput">
							<label for="description" class="form-label">Descripción:</label>
							<input type="text" id="description" class="description" name="description" value="<%= locals.old ? old.description: product.description %>">
							<% if(locals.errors && errors.description) {%>
								<small class="text-danger"><%= errors.description.msg %></small>
							<% } %>
							<span id="descriptionErrors"></span>
						</div>
						<div class="img-container-product" id="img-preview">
						</div>
						<div class="multer">
							<label for="inputImage" class="form-label">Imagen de producto:</label>
							<input type="file" id="inputImage" name="images" multiple aria-label="file example" class="form-control">
							<span id="imageErrors"></span>
						</div>
						
						<div class="sendButton">
							<button type="submit" class="editbtn" data-bs-toggle="modal" data-bs-target="#miModal">Modificar producto</button>

							<!-- Modal a corregir-->
							<div class="modal fade" id="miModal" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="modalTitle">Producto Modificado!</h4>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<p> Se ha modificado su producto con exito! a continuacion puede volver al inicio o seguir editando su producto.</p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary" ><a href="/">Volver a inicio</a></button>
										</div>
									</div> 
								</div>
							</div>
							<!-- Fin Modal -->

						</div>
					</div>
				</form>
			</div>
	</main>

	<!-- footer -->
	<%- include('../partials/footer') %>
	<script src="/js/validations/product.js"></script>
</body>	
</html>